 @import url('https://fonts.google.com/specimen/Lexend+Deca');
 @import url('https://fonts.google.com/specimen/Big+Shoulders+Display');

 * {
     box-sizing: border-box;
     margin: 0;
     padding: 0;
 }

 :root {
     --Bright-orange: hsl(31, 77%, 52%);
     --Dark-cyan: hsl(184, 100%, 22%);
     --Very-dark-cyan: hsl(179, 100%, 13%);

     /* paragraphs */
     --Transparent-white: hsla(0, 0%, 100%, 0.75);

     /*background, headings, buttons*/
     --Very-light-gray: hsl(0, 0%, 95%)
 }


 .items {
     background-color: var(--Very-light-gray);
     min-height: 100vh;
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: center;
 }

 .item {
     background-color: var(--Dark-cyan);
     min-height: 25rem;
     max-width: 17rem;
     padding: 2.5rem;
     position: relative;
 }

 .item .image {
     margin-bottom: 1.5rem;
 }

 .item h1 {
     color: var(--Very-light-gray);
     font-family: 'Big Sholder Display', cursive;
     font-size: 15px
 }

 .item p {
     color: var(--Very-light-gray);
     font-family: 'Lexend Deca' sans-serif;
     margin-top: 1.5rem;
     margin-bottom: 6rem;
 }

 .item button {
     position: absolute;
     background: var(--Very-light-gray);
     border: 2px solid var(--Very-light-gray);
     text-align: center;
     padding: 10px 22px;
     bottom: 0;
     margin-bottom: 2rem;
     border-radius: 30px;
     color: var(--Very-dark-cyan);
     cursor: pointer;
     font-family: 'Lexend Deca' sans-serif;
 }

 .one {
     background-color: var(--Bright-orange);
     border-top-left-radius: 6px;
     border-bottom-left-radius: 6px;
 }

 .two {
     background-color: var(--Dark-cyan);

 }

 .three {
     background-color: var(--Very-dark-cyan);
     border-top-right-radius: 6px;
     border-bottom-right-radius: 6px;
 }

 .one button {
     color: var(--Bright-orange);
 }

 .two button {
     color: var(--Dark-cyan);
 }

 .three button {
     color: var(--Very-dark-cyan);
 }

 button:hover {
     background-color: transparent;
     color: var(--Very-light-gray);
 }

 .press {
     display: flex;
     align-items: center;
     flex-direction: row;
     justify-content: center;
     padding-top: 6px;
 }

 .back {
     padding-left: 13px;
     padding-right: 13px;
     padding-top: 6px;
     padding-bottom: 6px;
     background-color: rgb(37, 74, 196);
     border-radius: 5px;
     cursor: pointer;
 }

 .back a {
     color: aliceblue;
     font-weight: 600;
     font-size: 20px;
     text-decoration: none;

 }

 a:hover {
     color: rgb(61, 61, 226);
     background-color: transparent;
 }


 @media(max-width: 375px) {
     .items {
         flex-direction: column;
         padding: 5rem 0;
     }

     .item {
         min-height: 10rem;
     }

     .back {
         padding-left: 13px;
         padding-right: 13px;
         padding-top: 6px;
         padding-bottom: 6px;
         background-color: rgb(37, 74, 196);
         border-radius: 5px;
         cursor: pointer;
     }

     .back a {
         color: aliceblue;
         font-weight: 600;
         font-size: 20px;
         display: flex;
     }

     a:hover {
         color: rgb(61, 61, 226);
         background-color: transparent;

     }
 }