* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    list-style: none;
    text-decoration: none;
}

body {
    background: #ffffff;
    color: #000;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 20px 18%;
    transition: .3s;
}

.logo {
    max-width: 100%;
    width: 130px;
    height: auto;
    color: rgb(15, 23, 30);
    font-weight: 900;
    font-size: 20px;
}

.navlist {
    display: flex;
}

.navlist li {
    position: relative;
}

.navlist a {
    font-size: 20px;
    color: rgb(40, 38, 38);
    font-weight: 800;
    padding: 10px 29px;
}

.wrapper {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url(images/img2.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 4rem;
    padding-left: 30%;
}

.card {
    height: 38rem;
    width: auto;
    display: flex;
    flex-direction: column;
    background: rgb(249, 249, 249);
    margin: 1rem 0;
    border-radius: 2rem;
}

.container {
    padding-left: 8%;
    padding-top: 6%;
    color: rgb(20, 19, 19);
}

.proj {
    padding: 10%;
    line-height: 20px;
    color: rgb(59, 55, 55);
    font-size: 18px;
    text-decoration: underline;
}

.click {
    padding-top: 28px;
    padding-left: 45px;
    color: rgb(38, 37, 37);
    font-size: 18px;

}